<div>
    <div class="my-book">
        <div class="description">
            <h1 class="title-filter">New Book</h1>
        </div>
        <div class="book-container">
            <div class="row">
                <form action="">
                    Title:<br>
                    <input type="text" name="Title" value="Enter title" class="input-join">
                    Author:<br>
                    <input type="text" name="author" value="Enter author" class="input-join">
                    Language:<br>
                    <input type="text" name="language" value="Enter language" class="input-join">
                    Year of issue:<br>
                    <input type="text" name="year" value="Enter year" class="input-join">
                    Publishing house:<br>
                    <input type="text" name="publishing" value="Enter publishing house" class="input-join">
                    Description:<br>
                    <input type="text" name="description" value="Enter description" class="input-join">
                    Number of pages:<br>
                    <input type="text" name="pages" value="Enter number of pages" class="input-join">
                    Price:<br>
                    <input type="text" name="price" value="Enter price" class="input-join">
                    Own impression:<br>
                    <input type="text" name="impression" value="Enter your impression of this book" class="input-join">
                    <div class="watch" onclick="location.href='/mybooks.html'">Add</div>
                </form>
            </div>
        </div>
        <div class="explanation-message">
            <p>
                @Copyright-BookUnity
            </p>
        </div>
    </div>
    <div class="dashboard" onclick="location.href='/account.html'">Dashboard</div>
</div>