<body>
<div>
    <div class="my-book">
        <div class="description">
            <h1 class="title-filter">My Books</h1>
        </div>
        <div class="watch" onclick="location.href='/addbook.html'">Add a book</div>
        <div class="book-container2">
            <div class="row" id="field">

            </div>
        </div>
        <div class="explanation-message">
            <p>
                @Copyright-BookUnity
            </p>
        </div>
    </div>
    <div class="dashboard" onclick="location.href='/account.html'">Dashboard</div>
</div>