<div class="signin"></div>
    <div class="my-book-sign">
        <div class="row book-container" >
            <div class="links" id="forget-me-not">
                <h1 class="title-flower">Sign in</h1>
                <div class="thumbnail test-card">
                    <form action="">
                        User name:<br>
                        <input type="text" name="userid" value="Username" class="input-join">
                        User password:<br>
                        <input type="password" name="psw" class="input-join">
                        <div class="watch" onclick="location.href='/account.html'">Sign in</div>
                        <div class="noaccount">
                            <div class="name2">
                                <a onclick="location.href='/signup.html'" class="name2">Don't have an account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>