<div class="signin"></div>
<div class="my-book-sign">
    <div class="row book-container" >
        <div class="links" id="forget-me-not">
            <h1 class="title-flower">Create an account</h1>
            <div class="thumbnail test-card">
                <form action="">
                    Email:<br>
                    <input type="text" name="userid" value="Username" class="input-join">
                    <br>
                    Create a password:<br>
                    <input type="password" name="psw" class="input-join">
                    Confirm password:<br>
                    <input type="password" name="psw" class="input-join">
                    <div class="watch" onclick="location.href='/setup.html'">Create</div>
                </form>
            </div>
        </div>
    </div>
</div>